.Tier{
    background: url("../../img/tier.jpg")center,no-repeat;
    background-size: cover;
    width: 100%;
    height: 93vh;
    
   
    color: #ccf;
    text-shadow:0 0 6px #99f;
    font-family: Helvetica, Arial, sans-serif;
}
#usersdiv{
    display: none;
}
#messagesusers button{
    background: linear-gradient(to bottom, #490095, #030099);
    height: 27px;
    width: 201px;
    display: block;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,51,.4);
    transition: color .2s;
    border: #6a2cfc 2px solid;
    margin: auto;
    box-shadow: 1px 0 4px rgba(102, 48, 20, 0.24), 6px 0 24px rgba(0, 0, 0, 0.36);
   
}
#messagesusers button:hover{
    outline: none;
    background: linear-gradient(to bottom, #5e00c5, #0500cc);
}
#tiermessages{
    display: block;
    width: 100%;
    height: 93%;
}
@media(min-width:601px){
    #messagesusers button{
        display: none;
    }
    #usersdiv{
        display: block;
        
    }
    #tiermessages{
        display: block;
    }
    .Tier{
        display: flex;
        flex-flow: row-reverse;
    }
}