#mainlist button{
    background: linear-gradient(to bottom, #ff9f19, #ff6619);
    height: 27px;
    width: 201px;
    display: block;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,0,51,.4);
    transition: color .2s;
    
    border: #fca52c 2px solid;
    margin: auto;
    margin-top: 10px;

}
#mainlist button:hover{
    background: linear-gradient(to bottom,#ffb252,#ff8c52);
}
@media(min-width:601px){
    #mainlist button{
        height: 47px;
        width: 357px;
        font-size: 24px;
        letter-spacing: 5px;
    }
}